.editor_wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}
.editor_wrapper input {
  box-sizing: border-box;
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220,220,220);
  border-radius: 5px;
} 
.editor_wrapper input:focus {
  outline: none;
  border: 1px solid #1f93ff;
}
.editor_wrapper button {
  background-color: rgb(95, 158, 210);
  width: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}