li, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.DiaryItem {
  border-bottom: 1px solid #e2b2eb;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
/* 이미지 섹션 스타일 시작 */
.DiaryItem .img_section1 {
  background-color: #64c964;
}
.DiaryItem .img_section2 {
  background-color: #9dd772;
}
.DiaryItem .img_section3 {
  background-color: #fdce17;
}
.DiaryItem .img_section4 {
  background-color: #fd8446;
}
.DiaryItem .img_section5 {
  background-color: #fd565f;
}
.DiaryItem .img_section {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.DiaryItem .img_section img {
  width: 50%;
}
/* 이미지 섹션 스타일 끝 */


/* 정보 섹션 스타일 시작 */
.DiaryItem .info_section {
  flex-grow: 1;
  margin: 0 20px;
  cursor: pointer;
}
.DiaryItem .info_section .date_wrapper {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}
.DiaryItem .info_section .content_wrapper {
  font-size: 18px;
}

/* 정보 섹션 스타일 끝 */

/* 버튼 섹션 스타일 시작 */
.DiaryItem .button_section {
  min-width: 70px;
}