body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  font: inherit;
}
body {
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
button {
  border: 0;
  background-color: #fff;
}
button:enabled {
  cursor: pointer;
}
img {
  vertical-align: top;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* wrapper */
.wrapper {
  background-color: #f2f2f2;
  width: 1060px;
  margin: 91px auto;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  padding: 41px;
  position: relative;
}
.wrapper .title {
  font-size: 24px;
  text-align: center;
  /* padding: 41px 421px 37px 422px; */
  white-space : nowrap; 
  /* border: 1px solid black; */
  margin-bottom: 37px;
}
.wrapper .title::after {
  content: '';
  display: block;
  width: 650px;
  height: 1px;
  background-color: #bdbdbd;
  position: absolute;
  /* margin-top: 37px; */
  top: 102px;
  left: 205px;
}
.wrapper .movie-info-list {
  display: flex;
  /* background-color: salmon; */
  padding: 18px 343px 28px 345px;
  justify-content: center;
  align-items: center;
  gap: 70px;
  color: #828282;
}
.wrapper .movie-info-list .on {
  color: #000;
  font-weight: bold;
}

/* main */
main {
  background-color: #fff;
  padding: 26px;
  margin: 0 28px 0 28px;
  border-radius: 10px;
}
.cinema-card-list {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  gap: 23px 20px;
}


/* article */
.cinema-card {
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.30);
  width: 220px;
}
.cinema-inner {
  padding: 19px 20px;
}
.cinema-inner img {
  width: 100%;
  aspect-ratio: 180/250;
  object-fit: cover;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cinema-title {
  font-size: 16px;
  font-weight: 900;
  margin: 12px 0 11px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cinema-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}
.cinema-info .type {
  color: #828282;
  margin-right: 5px;
}
.cinema-info .star {
  padding-left: 1.2em;
  background-image: url(./images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 1em;
}
.btn-group {
  display: flex;
  border-top: 1px solid #bdbdbd;
}
.btn-go ,
.btn-view {
  background-color: #f2f2f2;
  width: 100%;
  font-size: 14px;
  padding-bottom: 2px;
  box-sizing: border-box;
  height: 41px;
}
.btn-go {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 0 10px;
  border-right: 1px solid #bdbdbd;
}
.btn-go:focus-visible {
  z-index: 10;
}
.btn-view {
  border-radius: 0 0 10px 0;
}
.btn-view::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(./images/icon-play.svg);
  background-repeat: no-repeat;
  vertical-align: top;
  margin-right: 2px;
}