.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.main-form {
  min-width: 416px;
  padding: 56px 29px 56px 0;
  border-right: 1px solid #FF4F6E;
}
.main-form .heart-title {
  padding: .5em 0 .5em 2em;
  line-height: 1;
  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 0 0;
  font-family: 'Pretendard-Regular';
  margin-bottom: 16px;
}
.main-form .form div {
  width: 100%;
}
.main-form .form input {
  padding-left: 15px;
}
.main-form .form textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
  height: 360px;
  padding: 14px 0 0 16px;
}
.main-form button {
  font-family: 'Pretendard-Bold';
  font-size: 16px;
}

.main {
  display: flex;
  gap: 40px;
}
.main > section {
  flex-basis: 0;
}
.main .main-form {
  flex-grow: 1;
}
.main .main-diary {
  flex-grow: 2;
}

.diary-article {
  border-color: #677880;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  padding: 60px 48px;
  position: relative;
}
ol > li {
  margin-top: 70px;
}
.diary-article::after,
.diary-article::before {
  content: '';
  background-color: #fffaf0;
  display: block;
  width: 80px;
  height: 40px;
  position: absolute;
}
.diary-article::before {
  top: -20px;
  left: 30px;
  z-index: 10;
  background-image: url(../img/quote-start.svg);
}
.diary-article::after {
  right: 30px;
  bottom: -20px;
  background-image: url(../img/quote-end.svg);
}

.diary-article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  /* background-color: #FF4F6E; */
  
}
.diary-article header::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #677880;
  position: absolute;
  left: 0;
  top: 5px;
}
.article-title {
  font-family: 'Pretendard-Bold';
  color: #29363D;
}
.article-time {
  font-size: 12px;
  color: #677880;
}
.article-content {
  font-size: 14px;
  color: #5A6A72;
}
.btn-group {
  position: absolute;
  width: 111px;
  height: 40px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  border: 1px solid #677880;
  border-radius: 24px;
  background-color: #fff;
}
.btn-group button {
  opacity: .6;
  transition: opacity .3s;
}
.btn-group button:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    margin: 40px auto;
  }
  .main .main-form {
    border: 0;
    padding: 0;
  }
}

