h1,
h2,
h3,
ol,
ul,
li,
body,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: inherit;
}
button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
input {
  border: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
