.DiaryList .menu_wrapper {
  display: flex;
  margin: 20px 0 30px 0;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.DiaryList .right_col {
  flex-grow: 1;
}
.DiaryList .right_col button {
  width: 100%;
}

.DiaryList .left_col select {
  padding: 10px 20px;
  background-color: #ececec;
  border-radius: 5px;
  border: 1px solid #bdbdbd;

  cursor: pointer;
  font-family: 'Nanum Pen Script';
  font-size: 18px;
}

